* {
  margin: 0 0;
  padding: 0 0;
}

body {
  background-color: #f4f5f6;
}

main {
  background-color: white;
}

ul {
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #F72210;
}

ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

/* Global Usage */

#login-icon {
  display: none;
}

#hamburger {
  display: none;
}
.bld {
  font-weight: bold;
}

.bld-light {
  font-weight: bold;
  color: #807f84;
}

#bold {
  color: black;
}

.no-underline:hover {
  color: #F72210;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.no-line:hover {
  border-bottom: 1px solid transparent;
}

.no-deco:hover {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid transparent;
}

.bg-red {
  background-color: #F72210;
}

.red-text {
  color: #F72210;
}

/* HEADER */

.logo-nav {
  background: #F72210;
  padding: 0.7rem 0;
  color: white;
  position: relative;
}

.nav-login {
  text-align: right;
}

.logo-nav p{
  display: inline-block;
  margin-bottom: 0;
}

.nav-login p {
  margin: 0 1rem;
}

.nav-login button {
  border-radius: 20px;
  padding: 0 0.7rem;
  margin: 0 0.5rem;
  font-size: 12px;
  font-weight: 900;
}

.cat-nav {
  position: relative;
  background-color: white;
}

.angle {
  position: absolute;
  width: 7%;
  height: 0.1rem;
  border-top: 30px solid red;
  border-left: 40px solid transparent;
  top: -20px;
  right: 0;
}

.cat-nav ul {
  margin-bottom: 0;
}

.cat-nav ul li {
  border-left: 1px solid lightgray;
  margin: 1rem 0;
  padding: 0 0.5rem;
}

#no-border {
  border-left: none;
}

.cat-nav form {
  margin: 1rem 0 0 1rem;
}

.cat-nav form input{
  width: 3.5rem;
  border: none;
}

.trending{
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  background-color: white;
}

/* MAIN SECTION */

main {
  padding-top: 1rem;
}

.section-title {
  color: grey;
  font-size: 16px;
  font-weight: bold;
}

.featured-img {
  position: relative;
}

.featured-img h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #F72210;
  background: rgba(255, 255, 255, .9);
  font-size: 17px;
  padding: 8px 15px;
}

.featured-title {
  font-size: 24px;
  font-weight: bold;
  padding-top: 0.4rem;
}

.featured-title a {
  text-decoration: none;
  color: black;
}

.summary {
  font-size: 15px;
}

.grey-scale {
  color: grey;
  font-weight: bold;
}

.grey-scale p {
  font-size: 12px;
  padding-top: 0.5rem;
}

#stories-head {
  border-bottom: 1px solid grey;
  padding-bottom: 1rem;
}

#m-stories h3 {
  font-size: 17px;
  font-weight: bold;
  
}

.single-story {
  margin: 1rem 0;
  border-bottom: 1px solid grey;
}

.more-info {
  padding: 0 1.3rem 0.6rem 0 ;
}

/* DEBATE */

.debate-section {
  width: 100%;
  position: relative;
  /* height: 30rem; */
}

.debate-item-a {
  border-top: 2px solid #d5d5d5;
  padding: 1rem 0;
  border-bottom: 3px double gray;
}

#debate img {
  height: 63px;
  width: auto;
}

#debate h3 {
  font-size: 15px;
  font-weight: bold;
}

#debate h4 {
  font-size: 12px;
}

.center{
  text-align: center;
}

.text-center {
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  color: white;
  text-align: center;
  top: 44%;
  left: 48.5%;
}

.debate-item {
  border-bottom: 2px solid #d5d5d5;
  padding: 1rem 0;
}
.debate-item img {
  /* padding-top: 1rem; */
  margin-right: 1rem;
}

.debate-item-b {
  border-bottom: 1px solid grey;
  padding: 0.5rem 0;
}

.debate-item-b img {
  /* padding-top: 1rem; */
  margin-right: 1rem;
}

#newsletter {
  background-color: #f4f5f6;
  border: 1px solid #e5e5e5;
}

#newsletter button {
  font-size: 12px;
}

/* #newsletter a:hover {
  text-decoration: none;
  color: inherit;
} */

.icon-n {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
}

.magazine-title {
  border-bottom: 1px solid lightgray;
  margin-bottom: 1rem;
}

.newsweek-mag h4 {
  font-size: 16px;
  background-color: #f4f5f6;
  padding: 0.225rem;
}

.newsweek-mag h4:hover {
  background-color: #cdcecf;
}

.single-mag {
  height: 80%;
}

.single-mag span {
  color: #F72210;
  font-weight: bold;
}

.single-mag .bg-red {
  display: inline-block;
  padding: 0.2rem 0.4rem;
  margin: .5rem 0;
  color: white;
  font-weight: bold;
}

.sect-title {
  font-size: 20px;
  color: #F72210;
  font-weight: bold;
}


.single-mag h3 {
  font-size: 18px;
  font-weight: bold;
}

.single-mag img {
  height: 60%;
  object-fit: cover;
}

.t-details {
  font-size: 20px;
  font-weight: 800;
}

.border-top {
  border-top: 1px solid gray;
  padding-top: 1rem;
  margin-top: 1rem;
}

.other-news h2 {
  font-size: 20px;
  font-weight: 800;
  padding-top: 0.5rem;
}

.other-news h3 {
  font-size: 15px;
  font-weight: 600;
}

.bg-gray {
  background-color: lightgray;
}

.letter-info {
  height: 100%;
}

.letter-info h3 {
  font-size: 20px !important;
  font-weight: 800;
}

.subscribe {
  padding-left: 3rem;
}

.subscribe p {
  font-size: 15px;
}

.subscribe input {
  width: 100%;
  margin-bottom: 1rem;
}

.subscribe-info button {
  font-size: 12px;
}

.newsletter-img {
  background: url(https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&h=265&q=90&f=742bce9a6f72dd8f19ba2e7fd5db06e5) center center / cover no-repeat;
  height: 20rem;
}

.debat {
  margin-left: 10px;
}


.sect-img {
  width: 200px;
}

.sect-img img {
  width: 100%;
  height: auto;
}

.behind-img {
  position: relative;
  padding-top: 1.5rem;
}

.front-img {
  position: absolute;
  top: 4rem;
  left: 3rem;
  /* width: 8rem; */
}
/* Footer */

footer {
  padding-bottom: 2rem;
}
.bg_white {
  background: white;
}

.copyright {
  padding-top: 1rem;
  font-size: 12px;
}

.f-14 {
  font-size: 14px;
  color: #d5d5d5;
}

#footer-icons ul li {
  margin: 0 0.4rem;
  font-size: 24px;
}

footer .border-top {
  margin-top: 0;
}

@media screen and (max-width: 991px) {
  .cat-nav,
  .trending,
  .nav-date {
    display: none;
  }

  .logo-nav {
    position: fixed;
  }

  .logo-nav::after {
    clear: both;
  }

  #hamburger{
    display: inline-block;
    font-size: 24px;
    margin-left: 0.5rem;
  }

  .container {
    margin: 0;
    padding: 0 1rem;
    max-width: 100%;
  }

  #newsletter {
    width: 34%;
    margin: 2rem auto;
  }
}

@media screen and (max-width: 767px) {
  .featured-img img{
    width: 100%;
  }

  .logo-nav {
    position: fixed;
    top: 0;
    margin-bottom: 1rem;
    overflow: hidden;
  }

  .logo-nav::after {
    clear: both;
  }

  #login {
    display: none;
  }
  #login-icon {
    display: inline-block;
  }
  
  #my-turn img{
    width: 100%;
  }

  #my-turn p {
    font-size: 16px;
    padding: 1rem 0;
  }

  #travel img{
    width: 100%;
  }

  #travel p {
    font-size: 16px;
    padding: 1rem 0;
  }

  .single-mag {
    margin-bottom: 1rem;
  }
  .single-mag img {
    display: block;
    width: 100%;
    height: auto;
  }

  .subscribe-info {
    text-align: center;
  }
  #newsletter {
    width: 100%;
  }
  #footer-icons {
    text-align: left !important;
  }
}